<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        Where To Next
    </title>
</head>

<body>
    <nav>
        <div id="navBar">
        <% if (user) { %>
            <a href="/destinations" <%- title === 'All Destinations' ? 'class="active"' : '' %>>All Destinations</a><br>
            <a href="/destinations/new" <%- title==='Add Destinations' ? 'class="active"' : '' %>>Add
                Destinations</a><br>
            <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
            </div>
    </nav>
