<%- include('../partials/header') %>
<h2>Add title</h2>
<form id="add-profile-form" action="/destinations/<%= destinationId %>/destinations" method="POST">
<label>Location:</label>
</form>

<a href="/destinations/<%= destinationId %>">Go Back To Destinations</a>
<%- include('../partials/footer') %>
