<%- include('./partials/header') %>

<div class="title-container">
    <h1>WHERE<br><div class="to">TO</div>NEXT ?</h1>
</div>
<p>
    Welcome to the 'Where To Next' blog, a diary of travel<br>
    experiences in the palm of your hands. Share & explore <br>
    new adventures with like-minded souls. 
</p>


<%- include('./partials/footer') %>
