body {
  padding: 30px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-size: larger; */
  background-color: rgb(216, 236, 242);
}

a {
  color: #072f3f;
}

h1 {
  font-size: 100px;
  background: url('/images/beautifulBeachInPortugal.jpeg') no-repeat;
  background-position: center center;
  /* background-position-y: -100px; */
  background-color: #072f3f;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 30px;
}

p {
  font-size: 40px;
  display: flex;
  justify-content: center;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.to {
  text-align: center;
}