body {
  padding: 30px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-size: larger; */
  background-color: rgb(239, 251, 255);
}

a {
  color: #04222d;
}

h1 {
  font-size: 100px;
  background: url('/images/WHERETONEXTIMG.jpeg') no-repeat;
  background-position: center center;
  background-position-y: -80px;
  background-color: #072f3f;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 30px;
}

p {
  font-size: 40px;
  display: flex;
  justify-content: center;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.title-container {
  display: flex;
  justify-content: center;
}

#navBar {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.to {
  text-align: center;
}

.next {
  text-align: center;
}

.border {
  margin: 2vmin;
  padding: 2vmin;
  border: solid 1vmin grey;
}

.reviews {
  background-color: #305b6c;
  color: rgb(255, 253, 253);
}

#updateDates {
  margin: 8px;
}

#deleteBtn {
  margin-bottom: 30px;
}

#show-page {
  font-size: 20px;
}

.show-bold {
  font-weight: bold;
  color:rgb(8, 53, 55);
}

.image {
  max-width: 20vw;
}

.destinations {
  font-size: 40px;
  color: maroon;
  display: flex;
  justify-content: center;
}

.newPage {
  font-size: 20px;
  margin: 2px;
}

#editReview {
  color: maroon;
}

.dpage {
  color:rgb(47, 3, 4);
  font-size: 20px;
  font-style: italic;
}

.dLaDd {
  color: rgb(93, 69, 23);
  padding: .5rem;
  font-size: 1.5vw;
  font-style: oblique;
}

article {
  margin: 2vmin;
  padding: 2vmin;
  border: solid 1vmin grey;
}







