<%- include('../partials/header') %>

    <h2>Add Destinations</h2>
    <form id="new-form" action="/destinations" method="POST">
        <label>Location:</label>
        <input required type="text" name="location"><br>
        <label>Arrival:</label>
        <input required type="date" name="arrival"><br>
        <label>Depart:</label>
        <input required type="date" name="depart"><br>
        <label>Description:</label>
        <input required type="text" name="description" maxlength="150"><br>
        <label>Image:</label>
        <input required type="text" name="image">
        <input type="submit" value="Add Trip"><br>
    </form>



    <%- include('../partials/footer') %>