<%- include('../partials/header') %>

<h2 class="futureTrip">Add Future Trips</h2>
<br><br>
<form id="add-trip-form" action="/trips" method="POST">
  <label>Location:</label>
  <input required type="text" name="location">
  <label>Description:</label>
  <input required type="text" name="description" maxlength="150">
  <input type="submit" value="Add Future Trip">
</form>
<br> <br>


<section id="badge-container">
    <% trips.forEach(function(t) { %>
      <article class="badge"><%= t.location %></article>
      <article class="badgeL"><%= t.description %></article>
    <% }) %>
  </section>


<%- include('../partials/footer') %>